<app-header>
</app-header>



<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-body p-0">
                        <div class="iq-edit-list">
                            <ul class="iq-edit-profile d-flex nav nav-pills">
                                <li class="col-md-6 p-0">
                                    <a class="nav-link active" data-toggle="pill" href="#personal-information">
                                  Personal Information
                                  </a>
                                </li>
                                <li class="col-md-6 p-0">
                                    <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                                  Change Password
                                  </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="iq-edit-list-data">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                            <div class="iq-card">
                                <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                        <h4 class="card-title">Personal Information</h4>
                                    </div>
                                </div>
                                <div class="iq-card-body">
                                    <form>
                                        <div *ngIf="alertSuccess_1" class="alert alert-success" role="alert">
                                            <div class="iq-alert-text">{{ alertSuccessMessage_1 }}</div>
                                        </div>
                                        <div *ngIf="alertDanger_1" class="alert alert-danger" role="alert">
                                            <div class="iq-alert-text">{{ alertDangerMessage_1 }}</div>
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <div class="col-md-12">
                                                <div class="profile-img-edit">
                                                    <img class="profile-pic" [src]="currentUser.picture" alt="profile-pic">
                                                    <div class="p-image">
                                                        <i class="ri-pencil-line upload-button"></i>
                                                        <input class="file-upload" type="file" accept="image/*" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" row align-items-center">
                                            <div class="form-group col-sm-6">
                                                <label for="fname">First Name:</label>
                                                <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="firstname" [value]="currentUser.firstname">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="lname">Last Name:</label>
                                                <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="lastname" [value]="currentUser.lastname">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="uname">User Name:</label>
                                                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" [value]="currentUser.username">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="cname">Address:</label>
                                                <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address" [value]="currentUser.address">
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <label for="cname">Email:</label>
                                                <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email" [value]="currentUser.email">
                                            </div>

                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        <button type="reset" class="btn iq-bg-danger">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                            <div class="iq-card">
                                <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                        <h4 class="card-title">Change Password</h4>
                                    </div>
                                </div>
                                <div class="iq-card-body">
                                    <form>
                                        <div *ngIf="alertSuccess" class="alert alert-success" role="alert">
                                            <div class="iq-alert-text">{{ alertSuccessMessage }}</div>
                                        </div>
                                        <div *ngIf="alertDanger" class="alert alert-danger" role="alert">
                                            <div class="iq-alert-text">{{ alertDangerMessage }}</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="cpass">Current Password:</label>
                                            <a href="javascripe:void();" class="float-right">Forgot Password</a>
                                            <input type="Password" class="form-control" id="currentPassword" [value]="currentPassword" name="currentPassword" [(ngModel)]="currentPassword">
                                        </div>
                                        <div class="form-group">
                                            <label for="npass">New Password:</label>
                                            <input type="Password" class="form-control" id="newPassword" [value]="newPassword" name="newPassword" [(ngModel)]="newPassword">
                                        </div>
                                        <div class="form-group">
                                            <label for="vpass">Verify Password:</label>
                                            <input type="Password" class="form-control" id="verifyPassword" [value]="verifyPassword" name="verifyPassword" [(ngModel)]="verifyPassword">
                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2" (click)="changePassword($event)">Submit</button>
                                        <button type="reset" class="btn iq-bg-danger">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>