<app-header>
</app-header>

<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Privacy Setting</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="acc-privacy">
                            <div class="data-privacy">
                                <h4 class="mb-2">Delete Account</h4>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <button type="button" (click)="cancelAccount($event)" class="btn btn-warning mb-3">Cancel</button>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure beatae tenetur impedit, possimus commodi magni expedita quasi adipisci sint explicabo placeat quas repellat aut error nam esse maxime. Ea, aliquam.</p>
                            </div>
                            <hr>
                            <div class="data-privacy">
                                <h4 class="mb-2">Hard Delete Status</h4>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <button type="button" (click)="deleteAccount($event)" class="btn btn-danger mb-3">Delete</button>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quas quibusdam aliquid, id placeat omnis ea explicabo libero tenetur quasi porro molestias quaerat. Architecto incidunt commodi repellendus, maxime et tempore.</p>
                            </div>

                            <hr>
                            <div class="data-privacy">
                                <h4 class="mb-2">Privacy Help</h4>
                                <a href="#"><i class="ri-customer-service-2-line mr-2"></i>Support</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>