<!-- TOP Nav Bar -->
<div class="iq-top-navbar">
    <div class="iq-navbar-custom">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="iq-navbar-logo d-flex justify-content-between">
                <a href="index.html">
                </a>
            </div>
            <div class="iq-search-bar">
                <form action="#" class="searchbox">
                    <input type="text" class="text search-input" placeholder="Type here to search...">
                    <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                <i class="ri-menu-3-line"></i>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-list">
                    <li>
                        <a href="/profile" class="iq-waves-effect d-flex align-items-center">
                            <img [src]="currentUser.picture ? currentUser.picture : defaultProfile" class="img-fluid rounded-circle mr-3" alt="user">
                            <div class="caption">
                                <h6 class="mb-0 line-height">{{ currentUser.firstname }} {{ currentUser.lastname }}</h6>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/index" class="iq-waves-effect d-flex align-items-center">
                            <i class="ri-home-line"></i>
                        </a>
                    </li>
                    <li>
                        <a (click)="clickDarkTheme($event)" class="iq-waves-effect d-flex align-items-center">
                            <i class="ri-moon-line"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/profile" class="iq-waves-effect d-flex align-items-center">
                            <i class="ri-group-line"></i>
                        </a>
                    </li>

                </ul>
                <ul class="navbar-list">
                    <li>
                        <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                            <i class="ri-arrow-down-s-fill"></i>
                        </a>
                        <div class="iq-sub-dropdown iq-user-dropdown">
                            <div class="iq-card shadow-none m-0">
                                <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3 line-height">
                                        <h5 class="mb-0 text-white line-height">Bonjour {{ currentUser.firstname }} {{ currentUser.lastname }}</h5>
                                    </div>
                                    <a href="/profile" class="iq-sub-card iq-bg-primary-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-file-user-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Mon profil</h6>
                                                <p class="mb-0 font-size-12">Afficher les détails du profil personnel.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/edit-profile" class="iq-sub-card iq-bg-warning-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-warning">
                                                <i class="ri-profile-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Modifier le profil</h6>
                                                <p class="mb-0 font-size-12">Modifiez vos données personnelles.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/privacy-setting" class="iq-sub-card iq-bg-danger-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-danger">
                                                <i class="ri-lock-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Paramètres de confidentialité</h6>
                                                <p class="mb-0 font-size-12">Contrôlez vos paramètres de confidentialité.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="d-inline-block w-100 text-center p-3">
                                        <a class="bg-primary iq-sign-btn" (click)="signUp($event)" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- TOP Nav Bar END -->