<app-header>
</app-header>




<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 row m-0 p-0">
                <div class="col-sm-12">
                    <div id="post-modal-data" class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Créer un poste</h4>
                            </div>
                        </div>
                        <div class="iq-card-body" data-toggle="modal" data-target="#post-modal">
                            <div class="d-flex align-items-center">
                                <div class="user-img">
                                    <img [src]="currentUser.picture ? currentUser.picture : defaultProfile" alt="userimg" class="avatar-60 rounded-circle">
                                </div>
                                <form class="post-text ml-3 w-100" action="javascript:void();">
                                    <input type="text" class="form-control rounded" placeholder="Quoi de neuf ?" style="border:none;">
                                </form>
                            </div>
                            <hr>
                            <ul class="post-opt-block d-flex align-items-center list-inline m-0 p-0">
                                <li class="iq-bg-primary rounded p-2 pointer mr-3">
                                    <a href="#"></a><img src="assets/images/small/07.png" alt="icon" class="img-fluid"> Photo/Video</li>
                            </ul>
                        </div>
                        <div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="post-modalLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="post-modalLabel">Créer un poste</h5>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ri-close-fill"></i></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="d-flex align-items-center">
                                            <div class="user-img">
                                                <img [src]="currentUser.picture ? currentUser.picture : defaultProfile" alt="userimg" class="avatar-60 rounded-circle img-fluid">
                                            </div>
                                            <form class="post-text ml-3 w-100" action="javascript:void();">

                                                <textarea class="form-control rounded" placeholder="Quoi de neuf ?" style="border:none;" name="content" id="content" [(ngModel)]="content" cols="30" rows="2"></textarea>
                                            </form>
                                        </div>
                                        <img v-if="url != null" [src]="url" alt="" srcset="" style="margin-top: 2%; margin-left: 6.5%; height: 100px;">
                                        <hr>
                                        <ul class="d-flex flex-wrap align-items-center list-inline m-0 p-0">
                                            <input hidden type="file" #uploader (change)="onFileChanged($event)" />
                                            <li class="col-md-6 mb-3" style="cursor: pointer;" (click)="uploader.click()">
                                                <div class="iq-bg-primary rounded p-2 pointer mr-3">
                                                    <a href="#"></a><img src="assets/images/small/07.png" alt="icon" class="img-fluid"> Photo/Video</div>
                                            </li>
                                        </ul>

                                        <button data-dismiss="modal" type="submit" (click)="savePost($event)" class="btn btn-primary d-block w-100 mt-3">Post</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <ng-template style="width: 100%;" #cardViewInsert></ng-template>

                <ng-container *ngFor="let post of listPosts">

                    <app-card-view-image style="width: 100%;" [postObject]="post" (reloadAllCardView)="_reloadAllCardView($event)"></app-card-view-image>
                </ng-container>



            </div>

            <div *ngIf="itsLoad" class="col-sm-12 text-center">
                <img src="assets/images/page-img/page-load-loader.gif" alt="loader" style="height: 100px;">
            </div>
        </div>
    </div>
</div>