<!-- Sign in Start -->
<section class="sign-in-page">
    <div id="container-inside">
        <div id="circle-small"></div>
        <div id="circle-medium"></div>
        <div id="circle-large"></div>
        <div id="circle-xlarge"></div>
        <div id="circle-xxlarge"></div>
    </div>
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-md-6 bg-white pt-5">
                <div class="sign-in-from">
                    <h1 class="mb-0">Sign Up</h1>
                    <p>Enter your email address and password to access admin panel.</p>
                    <div class="mt-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">FirstName</label>
                            <input type="text" class="form-control mb-0" id="firstname" name="firstname" [(ngModel)]="firstname" placeholder="Your LastName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">LastName</label>
                            <input type="text" class="form-control mb-0" id="lastname" name="lastname" [(ngModel)]="lastname" placeholder="Your FirstName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control mb-0" id="username" name="username" [(ngModel)]="username" placeholder="Your FirstName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Gender</label> <br />
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="M" id="customRadio6" name="genderRadio" checked="checked" class="custom-control-input" (change)="changeItemGender('M', $event)">
                                <label class="custom-control-label" for="customRadio6"> M </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="F" id="customRadio7" name="genderRadio" class="custom-control-input" (change)="changeItemGender('M', $event)">
                                <label class="custom-control-label" for="customRadio7"> F </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bg-white pt-5">
                <div class="sign-in-from">
                    <div class="mt-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Picture</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="picture" (change)="onFileChanged($event)">
                                <label class="custom-file-label" for="picture">Choose picture</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputdate">Date Of Birthday</label>
                            <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="dateOfBirth" value="2019-12-18">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Address</label>
                            <input type="text" class="form-control mb-0" id="address" name="address" [(ngModel)]="address" placeholder="Your Address">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control mb-0" id="email" name="email" [(ngModel)]="email" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control mb-0" id="password" id="password" name="password" [(ngModel)]="password" placeholder="Your Password">
                        </div>
                        <div class="d-inline-block w-100">
                            <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">I accept <a href="#">Terms and Conditions</a></label>
                            </div>
                            <button type="submit" (click)="signUp($event)" class="btn btn-primary float-right">Sign Up</button>
                        </div>
                        <div class="sign-info">
                            <span class="dark-color d-inline-block line-height-2">Already Have Account ? <a href="#">Log In</a></span>
                            <ul class="iq-social-media">
                                <li><a href="#"><i class="ri-facebook-box-line"></i></a></li>
                                <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sign in END -->