<div class="d-flex flex-wrap">
    <div class="user-img">
        <img [src]="comment.user.picture ? comment.user.picture : defaultProfile" alt="userimg" class="avatar-35 rounded-circle img-fluid">
    </div>
    <div class="comment-data-block ml-3">
        <h6>{{ comment.user.firstname }} {{ comment.user.lastname }}</h6>
        <p class="mb-0">{{ comment.comment.content }}</p>
        <div class="d-flex flex-wrap align-items-center comment-activity">
            <a href="javascript:void();">like</a>
            <a href="javascript:void();">reply</a>
            <a href="javascript:void();">translate</a>
            <span> {{ getHoursComment(comment.comment) }} </span>
        </div>
    </div>
</div>