<div class="col-sm-12">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
        <div class="iq-card-body">
            <div class="user-post-data">
                <div class="d-flex flex-wrap">
                    <div class="media-support-user-img mr-3">
                        <img class="rounded-circle img-fluid" [src]="userOfThisPost.picture ? userOfThisPost.picture : defaultProfile" alt="">
                    </div>
                    <div class="media-support-info mt-2">
                        <h5 class="mb-0 d-inline-block"><a href="#" class="">{{ userOfThisPost.firstname }} {{ userOfThisPost.lastname }}</a></h5>
                        <!-- <p class="mb-0 d-inline-block">Added New Image in a Post</p> -->
                        <p class="mb-0 text-primary">{{ postObject.hours }}</p>
                    </div>
                    <div class="iq-card-post-toolbar">
                        <div class="dropdown">
                            <span class="dropdown-toggle" id="postdata-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                      <i class="ri-more-fill"></i>
                                      </span>
                            <div class="dropdown-menu m-0 p-0" aria-labelledby="postdata-5">
                                <a *ngIf="currentUser.id == postObject.userId" data-toggle="modal" data-target="#post-edit-modal" class="dropdown-item p-3">
                                    <div class="d-flex align-items-top">
                                        <div class="icon font-size-20"><i class="ri-save-line"></i></div>
                                        <div class="data ml-2">
                                            <h6>Editer un Post</h6>
                                            <p class="mb-0">Edit this post</p>
                                        </div>
                                    </div>
                                </a>
                                <a *ngIf="currentUser.id == postObject.userId" class="dropdown-item p-3" (click)="deleteThisPost($event)">
                                    <div class="d-flex align-items-top">
                                        <div class="icon font-size-20"><i class="ri-save-line"></i></div>
                                        <div class="data ml-2">
                                            <h6>Delete Post</h6>
                                            <p class="mb-0">Delete this post</p>
                                        </div>
                                    </div>
                                </a>
                                <a *ngIf="currentUser.id != postObject.userId && !listFollowers.includes(userIdOfThisPost)" class="dropdown-item p-3" href="#" (click)="followThisUser($event)">
                                    <div class="d-flex align-items-top">
                                        <div class="icon font-size-20"><i class="ri-user-follow-line"></i></div>
                                        <div class="data ml-2">
                                            <h6>Follow User</h6>
                                            <p class="mb-0">Follow him and become friends.</p>
                                        </div>
                                    </div>
                                </a>
                                <a *ngIf="currentUser.id != postObject.userId && listFollowers.includes(userIdOfThisPost)" class="dropdown-item p-3" href="#" (click)="unfollowThisUser($event)">
                                    <div class="d-flex align-items-top">
                                        <div class="icon font-size-20"><i class="ri-user-unfollow-line"></i></div>
                                        <div class="data ml-2">
                                            <h6>Unfollow User</h6>
                                            <p class="mb-0">Follow him and become friends.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <p>{{ postObject.content }}</p>
            </div>
            <div class="user-post">
                <div *ngIf="isLoading && postObject.link != '' && postObject.link != null && postObject.link != 'null'" (click)="openUri($event)" style="cursor: pointer;" class="col-lg-12">
                    <div class="card iq-mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img [src]="links.image" class="card-img" alt="#">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">{{ links.title }}</h4>
                                    <p class="card-text">{{ links.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a *ngIf="postObject.picture != '' && postObject.picture != null && postObject.picture != 'null'" href="javascript:void();"><img [src]="postObject.picture" alt="post-image" class="img-fluid rounded w-100"></a>
            </div>
            <div class="comment-area mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="like-block position-relative d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="like-data">
                                <div class="dropdown">
                                    <span (click)="saveLike($event)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                            <img src="assets/images/icon/01.png" class="img-fluid" alt="">
                                            </span>
                                </div>
                            </div>
                            <div class="total-like-block ml-2 mr-3">
                                <div class="dropdown">
                                    <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                            {{ numberOfLikes }} j'aime
                                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="total-comment-block">
                            <div class="dropdown">
                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                         {{ listComments.length }} Commentaire
                                         </span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <ul class="post-comments p-0 m-0">
                    <li *ngFor="let comment of listComments" class="mb-2">
                        <ng-template style="width: 100%;" #commentItemInsert></ng-template>
                        <app-comment-item [comment]="comment"></app-comment-item>
                    </li>
                </ul>
                <form class="comment-text d-flex align-items-center mt-3" action="javascript:void(0);">
                    <input type="text" id="comment" name="comment" [(ngModel)]="comment" [value]="comment" class="form-control rounded">
                    <div class="comment-attagement d-flex">
                        <a (click)="saveComment($event)"><i class="ri-link mr-3"></i></a>
                        <a (click)="saveComment($event)"><i class="ri-user-smile-line mr-3"></i></a>
                        <a (click)="saveComment($event)"><i class="ri-camera-line mr-3"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="post-edit-modal" tabindex="-1" role="dialog" aria-labelledby="post-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="post-modalLabel">Editer un Post</h5>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ri-close-fill"></i></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center">
                    <div class="user-img">
                        <img [src]="currentUser.picture ? currentUser.picture : defaultProfile" alt="userimg" class="avatar-60 rounded-circle img-fluid">
                    </div>
                    <form class="post-text ml-3 w-100" action="javascript:void();">

                        <textarea class="form-control rounded" placeholder="Quoi de neuf ?" style="border:none;" name="content" [value]="content" id="content" [(ngModel)]="content" cols="30" rows="3"></textarea>
                    </form>
                </div>
                <img v-if="url != null" [src]="url" alt="" srcset="" style="margin-top: 2%; margin-left: 6.5%; height: 300px;">
                <hr>
                <ul class="d-flex flex-wrap align-items-center list-inline m-0 p-0">
                    <input hidden type="file" #uploader (change)="onFileChanged($event)" />
                    <li class="col-md-6 mb-3" style="cursor: pointer;" (click)="uploader.click()">
                        <div class="iq-bg-primary rounded p-2 pointer mr-3">
                            <a href="#"></a><img src="assets/images/small/07.png" alt="icon" class="img-fluid"> Photo/Video</div>
                    </li>
                </ul>

                <button data-dismiss="modal" type="submit" (click)="updatePost($event)" class="btn btn-primary d-block w-100 mt-3">Post</button>
            </div>
        </div>
    </div>
</div>