<app-header>
</app-header>

<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-body profile-page p-0">
                        <div class="profile-header">
                            <div class="cover-container">
                                <img src="assets/images/page-img/profile-bg1.jpg" alt="profile-bg" class="rounded img-fluid">
                                <ul class="header-nav d-flex flex-wrap justify-end p-0 m-0">
                                    <li><a href="javascript:void();"><i class="ri-pencil-line"></i></a></li>
                                    <li><a href="javascript:void();"><i class="ri-settings-4-line"></i></a></li>
                                </ul>
                            </div>
                            <div class="user-detail text-center mb-3">
                                <div class="profile-img">
                                    <img [src]="currentUser.picture ? currentUser.picture : defaultProfile" style="height: 130px;" alt="profile-img" class="avatar-130 img-fluid" />
                                </div>
                                <div class="profile-detail">
                                    <h3 class="">{{ currentUser.firstname }} {{ currentUser.lastname }}</h3>
                                </div>
                            </div>
                            <div class="profile-info p-4 d-flex align-items-center justify-content-between position-relative">
                                <div class="social-info">
                                    <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                                        <li class="text-center pl-3">
                                            <h6>Postes</h6>
                                            <p class="mb-0">{{ posts.length }}</p>
                                        </li>
                                        <li class="text-center pl-3">
                                            <h6>Abonnés</h6>
                                            <p class="mb-0">{{ listFollowers.length }}</p>
                                        </li>
                                        <li class="text-center pl-3">
                                            <h6>Abonnements</h6>
                                            <p class="mb-0">{{ listFollowing.length }}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="timeline" role="tabpanel">
                        <div class="iq-card-body p-0">
                            <div class="row">

                                <div class="col-lg-12">




                                    <ng-container *ngFor="let post of posts">

                                        <app-card-view style="width: 100%;" [postObject]="post" (reloadAllCardView)="_reloadAllCardView($event)"></app-card-view>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>