<app-card-view-image style="width: 100%;" *ngIf="postsCardViewImage != null" style="width: 100%;" [postCardViewImage]="postObject" (reloadOneCardViewImage)="_reloadOneCardViewImage($event)"></app-card-view-image>
<app-card-view-text style="width: 100%;" *ngIf="postsCardViewText != null" style="width: 100%;" [postCardViewText]="postObject" (reloadOneCardViewText)="_reloadOneCardViewText($event)"></app-card-view-text>
<app-card-view-uri style="width: 100%;" *ngIf="postsCardViewUri != null" style="width: 100%;" [postCardViewUri]="postObject" (reloadOneCardViewUri)="_reloadOneCardViewUri($event)"></app-card-view-uri>